openai                    >=1.51.0
pydantic                  >=2.9.2
python-dotenv             >=1.0.0
streamlit                 >=1.25.0
pandas                    >=1.5.3
pandasai                  ==2.4.0
seaborn                   ==0.13.2
streamlit-searchbox       >=0.1.19